@font-face {
    font-family: 'raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

.contact {
    font-family: 'Raleway', sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    margin: 0;
    height: 100vh;
}

.fillIn {
    margin-top: 32px;
    gap: 24px;
}

p {
    margin-top: 0;
    margin-bottom: 8px;
}
label {
    display: flex;
    flex-direction: column;
}

input {
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}

button {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin-top: 28px;
    height: 30px;
    width: 125px;
    padding: 1px 0px;
    cursor: pointer;
    color: white;
    border: 1px solid lightgrey;
    background-color: green;
    font-weight: lighter;
    border-radius: 10px;
}

@media (max-width: 1050px) {
    .contact {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 640px) {

    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    
    .fillIn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    
}

/* min-width: 320px; Industriestandard */